@charset "utf-8";
/* CSS Document For Final Project*/
h1 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	color: #E6EC00;
	text-align: center;
	border: 0px none #000000;
}
#header {
	border: 1px solid blue;
	background-color: #1810C4;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:: auto;
	margin-top: auto;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 480px;
}
#pageone {
	border: 1px solid #31A2D9;
	background-color: #31A2D9;
	height: 20px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align: center;
	padding-bottom: 15px;
	padding- top: 15px;
	padding-top: 15px;
	width: 480px;
}
#pagetwo {
	border: 1px solid #31A2D9;
	background-color: #31A2D9;
	height: 20px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 480px;
}
#pagethree {
	border: 1px solid #31A2D9;
	background-color: #31A2D9;
	height: 20px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 480px;
}
#footer {
	border: 1px solid black;
	background-color: #1810C4;
	margin: auto;
	margin-left: auto;
	margin-right: auto;

	margin-bottom:: auto;
	margin-top: auto;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 480px;
	height: 50px;
	position: static;
}
a {
	color: #0F25D7;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-family: 14pt;
	text-decoration: none;
	margin:auto;
}
a:hover {
	color: #EDFC00;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align: center;
}
a:visited {
	color: #E5F120;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
a:active {
	color: #404040;
}
#intro {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	padding-left: px;
	margin-left: px;
}
#body {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 480px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#box {
	margin: auto;
	margin-top: auto;
	margin-bottom: auto;
	align-content: center;
	position: relative;
	float: left;
}
#navigation {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 25px;
	text-align: center;
}
iframe {
	align-content: center;
}
